@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: Droid Arabic Kufi;
  src: url(/src/assets/fonts/Droid-Arabic-Kufi-Regular.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* font-family: 'SF Pro Display Regular', sans-serif; */
  font-family:
    Droid Arabic Kufi,
    Verdana,
    Geneva,
    Tahoma,
    sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 65.5%;
  scroll-behavior: smooth;

  @media screen and (width < 250em) {
    font-size: 130%;
  }

  @media screen and (width < 187.5em) {
    font-size: 120%;
  }

  @media screen and (width < 168.75em) {
    font-size: 110%;
  }

  @media screen and (width < 154.8125em) {
    font-size: 100%;
  }

  @media screen and (width < 141.25em) {
    font-size: 90%;
  }

  @media screen and (width < 141.25em) {
    font-size: 90%;
  }

  @media screen and (width < 125.25em) {
    font-size: 80%;
  }

  @media screen and (width < 113.75em) {
    font-size: 70%;
  }

  @media screen and (width < 100em) {
    font-size: 62.5%;
  }

  @media screen and (width < 90.625em) {
    font-size: 56.5%;
  }

  ::-webkit-scrollbar {
    width: 1.5rem;
  }

  ::-webkit-scrollbar-track {
    @apply bg-primary-500;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-hover;
    border-radius: 12px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #c0ca41 70%, #172a1c);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  }

  /* @media screen and (width <78.125em) {
    font-size: 50%;
  } */

  /* @media screen and (width <71.875em) {
    font-size: 45%;
  }

  @media screen and (width <25.875em) {
    font-size: 40%;
  } */
}

body {
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background-color: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

*:disabled {
  opacity: 0.7;
}
